<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malki.telematics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Telematics"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.malki.bktelematics.ResetPINActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.example.malki.bktelematics.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.malki.bktelematics.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.ConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.DisconnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.PromptDiscActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.BKSigninActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.InsertTracker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.ScanVIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.Manual"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.Compliance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.ConfirmPairing"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name="com.example.malki.bktelematics.DisconnectTracker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.malki.bktelematics.ScanTracker"
            android:screenOrientation="portrait" />

        <service android:name="com.example.malki.bktelematics.FetchDisconnectTrackers" />

        <activity android:name="com.example.malki.bktelematics.Message" />
        <activity android:name="com.example.malki.bktelematics.Landing" />
        <activity android:name="com.example.malki.bktelematics.SMSDigestActivity" />
        <activity
            android:name="com.example.malki.bktelematics.CaptureMessage"
            android:label="@string/title_activity_capture_message" />
        <activity android:name="com.example.malki.bktelematics.ManualTracker" />
        <activity android:name="com.example.malki.bktelematics.ActivityLog" />
        <activity android:name="com.example.malki.bktelematics.Help" />
        <activity android:name="com.example.malki.bktelematics.ManualTrackerCapture" />

    </application>

</manifest>